/* subheader */

.subheader {
  background-color: #002540;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheader__item {
  width: 7.68%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .5s;
  color: #fff;
}
.subheader__item:hover {
  background-color: #E63D3A;
}

.subheader__item img {
  height: 40px;
  margin-bottom: 20px;
}

.subheader__item span {
  font-size: .6em;
  font-weight: bold;
}